body{
    text-align: center;
}

.btn{
    height:200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.pink{
    background-color: #FF90BC;
}

.blue{
    background-color: #01204E;
}

.green{
    background-color: #7ABA78;
}

.orange{
    background-color: #FFA62F;
}

.gflash{
    background-color: white;
}

.userflash{
    background-color: green;
}